<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>

    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>PaperBank</title>		
		<!-- Meta Description -->
        <meta name="description" content="amity university previous papers">
        <meta name="keywords" content="Amizone,previous papers,amity previous papers,amity university old papers,amity university,amity madhya pradesh papers,old papers,aump previous papers,">
        <meta name="author" content="Krishna yadav">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

       

		
		<!-- Google Font -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
		<!-- animate -->
        <link rel="stylesheet" href="/static/css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="/static/css/main.css">
		<!-- media-queries -->
        <link rel="stylesheet" href="/static/css/media-queries.css">

        <!-- font awesome-->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Modernizer Script for old Browsers -->
        <script src="/static/js/modernizr-2.6.2.min.js"></script>





<style type="text/css">

#color a
{
color: #444;
  text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;;
	}


ul ul ul li
{

display:none;
}

#hover1:hover ul li
{

display:block;
}

#line1
{

	display:block;
}

.funproject
{
 transition: box-shadow .3s;
  width: 310px;
  height: 390px;
 
  border-radius:10px;
  border: 1px solid #ccc;
  background:white;
  opacity:1;
  float: left;
}
.funproject:hover
{
 -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}



.progress-container
{

width:100%;
background: grey;
height:3px;

}
.progress-bar
{

height:3px;
background:  #fff;
}
#mybar
{
	font-size:13px;
	text-shadow: 0 0 3px #FF0000;
}

.papers a
{

color:black;

}
 ul li  ul
{

	display:none;
	position:relative;
}
 #krishnayadav li a:hover
{

	text-shadow:0 0 3px #FF0000;
}
ul  li:hover ul 
{

	display:block;
	
}
.max li a:hover
{
color:blue;
}

</style>

    </head>
	
    <body id="body">
	
		<!-- preloader -->
		<div id="preloader">
			<img src="/static/img/preloader.gif" alt="Preloader">
		</div>
		<!-- end preloader -->

        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img src="/static/img/logoo.png" alt="PaperBank" height="60" width="300">
							
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation" id="krishna">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">Home</a></li>
                        <li><a href="#download">Downloads</a></li>
                        <li><a href="#Comingsoon">Coming Soon...</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#footer">Contact</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
     

<!-- scroll indicator html -->

            <div class="progress-container">
            	<div class="progress-bar" id="mybar"><a href="#slider"></a></div>
            </div>

<!-- scroll indicator html end -->
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		
		
        <!--
        Home Slider
        ==================================== -->
		
		<section id="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			
				<!-- Indicators bullet -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<!-- End Indicators bullet -->				
				
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					
					<!-- single slide -->
					<div class="item active" style="background-image: url(/static/img/banner.jpg);">
						<div class="carousel-caption">
							<h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">Meet<span> Amitians</span>!</h2>
							<h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">Work Hard</span> In Silence</h3>
							<h3>Let Your<span class="color"> Success</span> Be The Noise</h3>
							<p data-wow-duration="1000ms" class="wow slideInRight animated">We are here to help you</p>
							
							
						</div>
					</div>
				</div>
			</div>
		</section>
					<!-- end single slide -->
					
					<!-- single slide -->
					<div class="item" style="background-image: url(img/banner.jpg);">
						<div class="carousel-caption">
							<h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span></span></h2>
							<h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color"></span></h3>
							<!--<p data-wow-duration="500ms" class="wow slideInRight animated"></p>-->
							


						</div>
					</div>
					<!-- end single slide -->
					

				<!-- End Wrapper for slides -->
				


		
        <!--
        End Home SliderEnd
        ==================================== -->
		
        <!--
        Features
        ==================================== -->
		
		<section id="download" class="features">
			<div class="container">
				<div class="row">


				
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>ASET</a></h2>
						<div class="devider"><i class="fa fa-git fa-lg"></i></div>
					</div>

					<!-- 1st service item Papers-->
					
				<div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-github fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3 style="text-shadow: 0 0 3px #FF0000;">Papers</h3>
							

                               <div class="papers" id="krishnayadav">

								   <li> <a href="computer" >Computer Science & Engineering</a>
					         	<div class="max">
                             </div>
                              </li>
                          
                        <li><a href ="electronics">Electronics & Communication Engg.</a>


                         </li>
                          
                          <li><a href="it">Information Technology</a></li>
                          
                          <li><a href="mech">Mechanical Engineering</a></li>
                          
                          <li><a href="civil">Civil Engineering</a></li>
                          

                          <li><a href="biotech">Biotechnology</a></li>
                          
                          <li><a href="bca">BCA</a></li>
                      </div>
                      </ul>
                  

                             </div>
						</div>
					</div>
					<!-- end 1st service item papers-->


					
					<!-- 2nd service item Books-->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-address-book fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3 style="text-shadow: 0 0 3px #FF0000;">BOOKS</h3>


								<ul>	 
                               <div class="papers">
					     <li> <a  href="12">Computer Science & Engineering</a>

					     	<div class="max">

					        <ul>

                             		<li><a href="#">1<sup>st</sup>Semester</a></li>
                             		<li><a href="#">2<sup>nd</sup>Semester</a></li>

                                    <li><a href="#">3<sup>rd</sup>Semester</a></li>
                                    <li><a href="#">4<sup>th</sup>Semester</a></li>


                                    <li><a href="#">5<sup>th</sup>Semester</a></li>
                                    <li><a href="#">6<sup>th</sup>Semester</a></li>

                                    <li><a href="#">7<sup>th</sup>Semester</a></li>
                                    <li><a href="#">8<sup>th</sup>Semester</a></li>




                              </ul>	
                          </div>
                         </li>
                          
                          <li><a href ="https://www,google.com">Electronics & Communication Engg.</a></li>
                          
                          <li><a href="https://www.amizone.com">Information Technology</a></li>
                          
                          <li><a href="/static/images/2k14.jpg">Mechanical Engineering</a></li>
                          
                          <li><a href="#">Civil Engineering</a></li>
                          

                          <li><a href="#">Biotechnology</a></li>
                          
                          <li><a href="#">BCA</a></li>
                      </div>
                      </ul>
                          </div>
						</div>
					</div>
					<!-- end 2nd service item Books -->




					
					<!-- 3rd service item Notes -->
					<div class="col-md-4 wow fadeInRight" data-wow-duration="500ms"  data-wow-delay="900ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-bullhorn fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3  style="text-shadow: 0 0 3px #FF0000;">NOTES</h3>
								<div class="papers">
								 <a  href="https://www.google.com">Computer Science & Engineering</a>
                                 </div>
								
							</div>
						</div>
					</div>
					<!-- end service item -->
						
				</div>
			</div>
		</section>
		
        <!--
        End Features
        ==================================== -->
		
		
        <!--
        Our Works start
        ==================================== -->
		
		<section id="Comingsoon" class="works clearfix">
			<div class="container">
				<div class="row">


					<div class="sec-title text-center">
						<h2>Coming Soon...</h2>
						<div class="devider"><i class="fa fa-inr fa-lg"></i></div>
					</div>
					
					<div class="sec-sub-title text-center">
						<p>Some Department are available soon<br> When We Launch</p>
					</div>

					<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
						<ul class="text-center">

							<li><a href="javascript:;" data-filter="all" class="active filter">All</a></li>
							<li><a href="javascript:;" data-filter=".hardware" class="filter">HARDWARE</a></li>
							<li><a href="javascript:;" data-filter=".software" class="filter">SOFTWARE</a></li>

						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="project-wrapper">
		<!-- ========================================= project1 robotics ==================================================== -->

				<figure class="mix work-item hardware">
					<img src="/static/img/works/robotics.jpg" alt="">
					
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here"  href="https://www.google.com" download="helloo">click here
							</a>




                       <h3>ROBOTICS</h3>

							   <h6>The Shadow robot hand system Robotics is an interdisciplinary branch of engineering and science that includes
								   mechanical engineering, electrical engineering, computer science, and others</h6>
					</figcaption>
				</figure>
		<!-- ========================================= project2 hacking =================================================== -->
				<figure class="mix work-item software">
					<img src="/static/img/works/hacking.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-2.jpg">
							click here</a>
						<h3>ETHICAL HACKING</h3>




				<h6>Hacking is usually done to gain unauthorized access to a computer system or
					a computer network, either to harm the systems
					or to steal sensitive information available on the computer is called hacking</h6>
					</figcaption>
				</figure>
		<!-- ========================================= project3 raspberry pi =================================================== -->
				<figure class="mix work-item hardware">
					<img src="/static/img/works/raspberry.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-3.jpg">
							click here</a>
						<h3>RASPBERRY π</h3>
						<h6>The Raspberry Pi is a low cost, credit-card sized computer that plugs into a computer monitor or TV,
							and uses a standard keyboard and mouse. </h6>
					</figcaption>
				</figure>
		<!-- ========================================= project4 python =================================================== -->
				<figure class="mix work-item software">
					<img src="/static/img/works/python.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-4.jpg">
							clic here</a>
						<h3>PYTHON PROJECTS</h3>
						<h6>Python is an interpreted high-level programming language for general-purpose programming.
							Created by Guido van Rossum and first released in 1991, </h6>
					</figcaption>
				</figure>
		<!-- ========================================= project5 arduino =================================================== -->
				<figure class="mix work-item hardware">
					<img src="/static/img/works/arduino.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-5.jpg">
							click here</a>
						<h3>ARDUINO</h3>
						<h6>Arduino is an open-source electronics platform based on easy-to-use hardware and software.
							Arduino boards are able to read inputs - light on a sensor, a finger on a button,
							or a Twitter message - and turn it into an output - activating a motor,
							turning on an LED, publishing something online.</h6>
					</figcaption>
				</figure>
		<!-- ========================================= project6 android =================================================== -->
				<figure class="mix work-item software">
					<img src="/static/img/works/android.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-6.jpg">click here</a>
						<h3>ANDROID</h3>
						<h6>Android is a mobile operating system developed by Google,
							based on a modified version of the Linux kernel and other open source software and designed primarily for touchscreen mobile devices</h6>
					</figcaption>
				</figure>
		<!-- ========================================= project7 internet of things =================================================== -->
				<figure class="mix work-item hardware">
					<img src="/static/img/works/iot.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-7.jpg">Click here</a>
						<h3>IOT</h3>
						<h6>The Internet of Things (IoT) is the network of physical devices, vehicles, home appliances and other items embedded with electronics, software, sensors, actuators,
							and connectivity which enables these objects to connect and exchange data.</h6>
					</figcaption>
				</figure>
		<!-- ========================================= project8 unity =================================================== -->
				<figure class="mix work-item software">
					<img src="/static/img/works/unity.jpg" alt="">
					<figcaption class="overlay">
						<a class="fancybox" rel="works" title="Write Your Image Caption Here" href="/static/img/works/item-8.jpg">click here</a>
						<h3>UNITY</h3>
						<h6>Unity is a cross-platform game engine developed by Unity Technologies,
							which is primarily used to develop both three-dimensional and two-dimensional video games and
							simulations for computers, consoles, and mobile devices.</h6>
					</figcaption>
				</figure>
				
			</div>
		</section>
        <!--
        End Our Works
        ==================================== -->



		
        <!--
        Meet Our Team
        ==================================== -->		
		
		<section id="team" class="team" style="background-color: #EBA39E;">
			<div class="container">
				<div class="row">
		
					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2>Meet Our Team</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>
					
					<div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
						<div class="member-thumb">
							<img src="/static/img/team/member-1.pn" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>John cena</h4>
						<span>Managing Director</span>
					</figure>
					<!-- end single member -->
					
					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="member-thumb">
							<img src="/static/img/team/member-2.pn" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>Martin example</h4>
						<span>Lead Developer</span>
					</figure>
					<!-- end single member -->
					
					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="member-thumb">
							<img src="/static/img/team/member-3.pn" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>Steve example</h4>
						<span>Sr. UI Designer</span>
					</figure>
					<!-- end single member -->
					
					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="member-thumb">
							<img src="/static/img/team/member-1.pn" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>John examplee</h4>
						<span>Managing Director</span>
					</figure>
					<!-- end single member -->
					
				</div>
			</div>
		</section>
		
        <!--
        End Meet Our Team
        ==================================== -->
		
		<!--
        Some fun facts
        ==================================== -->		
		
		<section id="facts" class="facts">
			<div class="parallax-overlay">
				<div class="container">
					<div class="row number-counters">
<!-- =====================================heading start=================================================================== -->						
						<div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
							<h2 style="color:white;">Some Fun Projects</h2>
							
                    <div class="devider"><i class="fa fa-github fa-lg"></i></div>

<!-- =====================================heading end=================================================================== -->	

<!-- ==================box project1 "robotics" ==================================================================== -->
					
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
			<div class="counters-item">	






                 <!-- <div class="funproject" id="funproject" style="font-color:black;text-align:center;font-size: 30px;">
                  	<h2>ROBOTICS</h2>
		          	<img src="/static/img/projects/robotics.jpg" alt="robotics" width="100%" height="70%">
		          	<a href="https://www.google.com">
		          		<button type="button" style="background-color:  #EBA39E;margin-top: 25%; margin-left: 200px;">View</button></a>
		          	      </div>

		    </div>
		    </div>
		    </div>
<!-- ==================box project1 "robotics" end ==================================================================== -->
						

<!-- ==================box project2 "raspberry pie" =================================================================== -->							
		    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
			<div class="counters-item">
				

					<!-- <div class="funproject" id="funproject" style="font-color:black;text-align:center;font-size: 30px;margin-left: 110px;">
						<h2 style="font-color:black;">RASPBERRY PI</h2>
		          	<a href="https://www.google.com" id="line1">
		          	<img src="/static/img/projects/raspberry.jpg" alt="raspberry" width="100%" height="270px"></a>
		          <a href="https://www.google.com">
		          <button type="button" style="background-color: #DB9EEB;;margin-top: 25%; margin-left: 200px;">View</button></a>
		          	      </div>


		    </div>
		    </div>

				
<!-- ==================box project2 "raspberry pie" ends=================================================================== -->	


<!-- ==================box project3 "python" =================================================================== -->	

		    <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
			<div class="counters-item">					
				<!-- <div class="funproject" id="funproject" style="font-color:black;text-align:center;font-size: 30px; margin-left:250px;">
 						<h2>PYTHON</h2>
		          	<img src="/static/img/projects/python.png" alt="robotics" width="100%" height="70%">
		          	<a href="https://www.google.com">
		          	<button type="button" style="background-color:  #EBA39E;margin-top: 25%; margin-left: 200px;">View</button></a>
		          	 </div>

		    </div>
		    </div>      	 
           
<!-- ==================box project3 "python" ends=================================================================== -->	


						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
							<div class="counters-item">
								
							</div>
						</div>




						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
							<div class="counters-item">
								
								
							</div>
						</div>
						<!-- end first count item -->
				
					</div>
				</div>
			</div>
			</div>
		</section>
		
        <!--
        End Some fun facts
        ==================================== -->
		
		
		<!--
        Contact Us
        ==================================== -->		
		<!--later work on

		<section id="contact" class="contact">
			<div class="container">
				<div class="row mb50">
				
					<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
						<h2>Let’s Discuss</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>
					
					<div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>
					-->

					<!-- contact address -->
		<!--
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms">
						<div class="contact-address">
							<h3>Cras at ultrices erat, sed vulputate!</h3>
							<p>2345 Setwant natrer, 1234,</p>
							<p>Washington. United States.</p>
							<p>(401) 1234 567</p>
						</div>
					</div>
					<!-- end contact address -->
					
					<!-- contact form -->
		<!--
					<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="contact-form">
							<h3>Say hello!</h3>
							<form action="#" id="contact-form">
								<div class="input-group name-email">
									<div class="input-field">
										<input type="text" name="name" id="name" placeholder="Name" class="form-control">
									</div>
									<div class="input-field">
										<input type="email" name="email" id="email" placeholder="Email" class="form-control">
									</div>
								</div>
								<div class="input-group">
									<textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
								</div>
								<div class="input-group">
									<input type="submit" id="form-submit" class="pull-right" value="Send message">
								</div>
							</form>
						</div>
					</div>
					<!-- end contact form -->
					
					<!-- footer social links -->
		<!--
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<ul class="footer-social">
							<li><a href="https://www.behance.net/Themefisher"><i class="fa fa-behance fa-2x"></i></a></li>
							<li><a href="https://www.twitter.com/Themefisher"><i class="fa fa-twitter fa-2x"></i></a></li>
							<li><a href="https://dribbble.com/themefisher"><i class="fa fa-dribbble fa-2x"></i></a></li>
							<li><a href="https://www.facebook.com/Themefisher"><i class="fa fa-facebook fa-2x"></i></a></li>
						</ul>
					</div>
					<!-- end footer social links -->
				<!--  BAAD MEIN
				</div>
			</div>
	</section> -->




	     <!-- Google map -->
	    
	     <div class="container1"><a href="https://www.google.co.in/maps/place/Amity+University+Gwalior,Madhya+Pradesh/@26.2717966,78.2262323,827m/data=!3m1!1e3!4m5!3m4!1s0x3976c0e647bece07:0xd848338a0d6a5393!8m2!3d26.2727159!4d78.2283895?dcr=0">
			 <img src="/static/img/map.png" alt="wait" width="100%" height="290px" style=""></a>
	     </div>

	   
	     <!-- end google maps-->
			
		


		
        <!--
        End Contact Us
        ==================================== -->
		
		
		<footer id="footer" class="footer">
			<div class="container">
				<div class="row">
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="/static/img/footerlogo/footer-logo.png" alt="" width="200px" height="80px">
							<p></p>
						</div>
					</div>


					<!--  ============================================================================================
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="footer-single">
							<h6>Subscribe </h6>
							<form action="#" class="subscribe">
								<input type="text" name="subscribe" id="subscribe">
								<input type="submit" value="&#8594;" id="subs">
							</form>
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
					==============================================================================================  -->

				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="footer-single">
							 <!-- <h6>Explore</h6>
							<ul>
								<li><a href="#">Inside Us</a></li>
								<li><a href="#">Flickr</a></li>
								<li><a href="mailto:paperbank@yahoo.com">Yahoo</a></li>
								<li><a href="#">Forum</a></li>
							</ul> -->
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="footer-single">


							<h1>CONTACT</h1>


							<ul>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Market Blog</a></li>
								<li><a href="#">Help Center</a></li>
								<li><a href="#">Pressroom</a></li>
							</ul>

						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="copyright text-center">
							Copyright © 2018 <a href="#body">PaperBank</a>. All rights reserved. Designed & developed by Krishna And Indresh
						</p>
					</div>
				</div>
			</div>
		</footer>
		
		<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="/static/js/jquery-1.11.1.min.js"></script>
		<!-- Single Page Nav -->
        <script src="/static/js/jquery.singlePageNav.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="/static/js/bootstrap.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="/static/js/jquery.fancybox.pack.js"></script>
		<!-- jquery.mixitup.min -->
        <script src="/static/js/jquery.mixitup.min.js"></script>
		<!-- jquery.parallax -->
        <script src="/static/js/jquery.parallax-1.1.3.js"></script>
		<!-- jquery.countTo -->
        <script src="/static/js/jquery-countTo.js"></script>
		<!-- jquery.appear -->
        <script src="/static/js/jquery.appear.js"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
       
		<!-- jquery easing -->
        <script src="/static/js/jquery.easing.min.js"></script>
		<!-- jquery easing -->
        <script src="/static/js/wow.min.js"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="/static/js/custom.js"></script>
		
		<script type="text/javascript">
			$(function(){
				/* ========================================================================= */
				/*	Contact Form
				/* ========================================================================= */
				
				$('#contact-form').validate({
					rules: {
						name: {
							required: true,
							minlength: 2
						},
						email: {
							required: true,
							email: true
						},
						message: {
							required: true
						}
					},
					messages: {
						name: {
							required: "come on, you have a name don't you?",
							minlength: "your name must consist of at least 2 characters"
						},
						email: {
							required: "no email, no message"
						},
						message: {
							required: "um...yea, you have to write something to send this form.",
							minlength: "thats all? really?"
						}
					},
					submitHandler: function(form) {
						$(form).ajaxSubmit({
							type:"POST",
							data: $(form).serialize(),
							url:"process.php",
							success: function() {
								$('#contact-form :input').attr('disabled', 'disabled');
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$(this).find(':input').attr('disabled', 'disabled');
									$(this).find('label').css('cursor','default');
									$('#success').fadeIn();
								});
							},
							error: function() {
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$('#error').fadeIn();
								});
							}
						});
					}
				});
			});
		</script>




<!-- script of scroll indicator -->
		<script>
// When the user scrolls the page, execute myFunction called scroll indicator
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("mybar").style.width = scrolled + "%";
}
</script>
<!-- end script of scroll indicator -->



 </body>
</html>
